/* src/skins/Barebones/Barebones.module.css */

.container {
  position: relative;
  width: 650px;
  height: 450px;
  background-color: #1c1e21;
  padding: 50px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameArea {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #080817;
}

.exitButton, .muteButton {
  position: absolute;
  z-index: 2;
  padding: 0;
  border: none;
  background-color: #333333; /* Matches Tablet (black) */
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exitButton:hover, .muteButton:hover {
  background-color: #444444;
}

.exitButton {
  top: 10px;
  right: 10px;
}

.muteButton {
  top: 10px;
  right: 42px;
}

.exitButton img, .muteButton img {
  width: 16px;
  height: 16px;
}